<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Farm Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Daily Farm Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feeds Stocking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fodder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Insemination</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vetinary</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Create User</a>
            </li>
        </ul>
    </div>
</nav>

<form>
    <form>

       
        <div class="form-row  mx-2 align-items-center">
          <div class="col-sm-3 mx-2 my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Type of Cow</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Fresian</option>
              <option value="2">Aryshire</option>
              <option value="3">Guernsey</option>
              <option value="3">Jersey</option>
            </select>
            </div>
            

                  <div class="col-sm-3  mx-2 my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Last Vet Check Up</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">A few days</option>
                      <option value="2">More than Two Weeks</option>
                      <option value="3">Month and above</option>
                    </select>
                    </div>


                    <div class="col-sm-3  mx-2 my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Last Vet Check Up</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                          <option selected>Choose...</option>
                          <option value="1">A few days</option>
                          <option value="2">More than Two Weeks</option>
                          <option value="3">Month and above</option>
                        </select>
                        </div>

            </div>


            
        </div>

        <fieldset class="form-group ">
            <h2>Vaccine Handling and Care</h2>
            <div class="row ">
              <legend class="col-form-label col-sm-4 ">Did Staff Or Your Vet Transport Vaccines To The Farm In A Cool Box, Cool Bag Or Similar?</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    No
                  </label>
                </div>
              </div>
            </div>
          
          
            <div class="row">
              <legend class="col-form-label col-sm-4 ">When Collecting Vaccines, Do You Return Immediately To The Farm And Put Them In The Farm Fridge?</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    No
                  </label>
                </div>
              </div>
            </div>
          
            <div class="row">
              <legend class="col-form-label col-sm-4 ">Did Staff Or Your Vet Transport Vaccines To The Farm In A Cool Box, Cool Bag Or Similar?</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    No
                  </label>
                </div>
              </div>
            </div>
            </div>
          
          
          
          
          
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">Always</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Often</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
              <label class="form-check-label" for="inlineRadio3">Rarely</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Dairy Farm Management System @ 2020. <br> Development Team</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li>Daniel Kinyanjui</li>
                    <li>Nicholas Ndiki</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Peter Mbugua</li>
                    <li>Douglas Arigah</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>Nancy Karanja</li>
                    <li>Dancun Otieno</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
